<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Authors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>Author list</h1>
<table>
    <tr>
        <td>Id</td>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Some firstName</td>
        <td th:text="${author.lastName}">Some lastName</td>
    </tr>
</table>
<p><a href="books">Go to books list</a></p>
</body>

</html>